<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <script src="../components/cart.js"></script>
    <script src="../components/profile.js"></script>
    <script src="../components/footer.js"></script>
    <script type="module" src="index.js"></script>
    <link rel="shortcut icon" type="image/x-icon" href="/media/S4U-icon.ico">
    <title>Checkout</title>
</head>
<body>
    <nav class="bg-taupe-300 px-10 py-3 flex items-center justify-center items-center border border-black shadow-md">
      <h1 class="text-black text-3xl font-bold"><a href="/">Style4U</a></h1>
    </nav>

    <div class="mx-auto max-w-7xl px-4 py-8 sm:px-6 lg:px-8">
        <ul id="checkout-items-list" class="space-y-4">
        </ul>

        <div class="mt-8 space-y-6 border-t border-gray-100 pt-8">
            <dl class="ml-auto max-w-sm space-y-1 text-sm text-gray-700">
            <div class="flex justify-between">
                <dt>Subtotal</dt>
                <span id="checkout-subtotal">$00.00</span>
            </div>

            <div class="flex justify-between">
                <span class="text-gray-600">Taxes (10%)</span>
                <span id="checkout-taxes" class="font-medium">$0.00</span>
            </div>

            <div class="flex justify-between">
                <dt>Discount</dt>
                <dd>-$5</dd>
            </div>

            <div class="flex justify-between border-t border-gray-200 pt-2 text-base font-bold text-gray-900">
                <span>Total</span>
                <span id="checkout-total">$0.00</span>
            </div>
            </dl>

            <div class="flex items-center justify-end gap-4">

            <a
                href="#"
                class="block rounded-sm border border-amber-600 bg-amber-600 hover:border-amber-700 hover:bg-amber-700 px-5 py-3 text-sm font-semibold text-white transition-colors "
            >
                Payload
            </a>
            </div>

            <div class="text-right">
            <a id="continue-shopping-btn"
                href="#"
                class="inline-block text-sm text-gray-600 underline underline-offset-4 transition-colors hover:text-gray-700"
            >
                Continue shopping
            </a>
            </div>
        </div>
    </div>
    
</body>
</html>